.post__detail {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 100px;
  box-sizing: border-box;
  
  .post__detail__container {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;

    > * {
      padding: 20px 0px;
    }

    .post__title {
      h1 {
        font-size: 47px;
      }
    }

    .post__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .post__info__column {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .post__content {
    }
  }
  
}